@media screen and (max-width: 1700px){

  .iconbar{
    margin: 20px auto;
  }
  #textbox0 #logo{
    font-size: 4.3em!important;
  }
  #textbox1{
    font-size: 4em !important;
  }
  #textbox1 #logo{
    top: 242px !important;
    font-size: 22px!important;
    left: 563px!important;
  }
  #textbox1 #dot1{
    width: 10px!important;
    height: 10px!important;
    top: 49%!important;
    left: 42%!important;
  }
  #textbox1 #dot2{
    width: 10px!important;
    height: 10px!important;
    top: 49%!important;
    left: 57%!important;
  }
  #textbox2 #logo{
    font-size: 1.2em!important;
  }
  #textbox2 #title{
    font-size: 0.5em!important;
  }
  #textbox3 #logo{
    font-size: 0.9em !important;
  }
  #textbox3 #title{
    font-size: 0.43em !important;
  }
  #textbox4 #logo{
    font-size: 0.9em !important;
  }
  #textbox4 #title{
    font-size: 0.43em !important;
  }
  #textbox5 #logo{
    font-size: 4.3em!important;
  }
  #banner:hover>.btn_left{
    left: 120px;
  }
  #banner:hover>.btn_right{
    right: 120px;
  }
  /****************/
  #header{
    padding: 8px 0;
  }
  #navbar a{
    padding: 6px 15px;
  }
  #navbar p{
    padding: 6px 15px;
  }
  #inner img{
    width: 8em;
  }
  #inner h1{
    font-size: 1.5em;
  }
  #inner p{
    font-size: 1.1em;
  }
  /****************/
  #slider li{
    height: 23em;
  }
  #intro{
    height: 500px;
  }
  #intro::before{
    height: 490px;
    top: -90px;
  }
  #intro .pic0{
    width: 20em;
    height: auto;
    top: 3em;
    left: 0;
  }
  #intro .pic1{
    width: 23em;
    height: auto;
    top: 12em;
    left: 1em;
  }
  #intro .pic2{
    width: 11em;
    height: auto;
    top: 28em;
    left: 18em;
  }
  #intro .arclogo{
    top: 2em;
    right: 2em;
  }
  #intro .arclogo img{
    width: 9em;
    height: 8em;
  }
  #intro .right-box {
    top: 9em;
    right: 0;
    font-size: 1.5em;
  }
  /*************************/
  #staff{
    height: 620px;
  }
  #staff .staff_title{
    width: 22em;
  }
  #staff article img{
    width: 220px;
    height: 220px;
  }
  #staff h1{
    font-size: 2em;
  }
  #staff .dialog p{
    font-size: 1.3em;
  }
  #staff .dialog::after{
    top: 67%;
  }
  #staff .content p{
    font-size: 1em;
  }
  #staff .content ul{
    font-size: 1em;
  }
  .circle{
    width: 250px;
    height: 250px;
    border-width: 3px;
  }
  .circle::before{
    top: 94%;
  }
  .circle::after{
    top: 92%;
  }
  /********************/
  #cycle::after{
    height: 500px;
    top: -175px;
  }
  #cycle .cyclebox{
    width: 512px;
  }
  #cycle .cyclebox h1{
    font-size: 2em;
  }
  #cycle .cyclebox p{
    font-size: 1.3em;
  }
  .cycle1{
    right: 105px;
    top: 25px;
  }
  .cycle2{
    right: 25px;
  }
  .cycle3{
    right: 105px;
    top: 260px;
  }
  .cycle4{
    left: 105px;
    top: 260px;
  }
  .cycle5{
    left: 25px;
  }
  .cycle6{
    left: 105px;
    top: 25px;
  }
  .cycle1 img{
    width: 9em;
    height: 12em;
  }
  .cycle2 img{
    width: 12em;
    height: 9em;
  }
  .cycle3 img{
    width: 9em;
    height: 12em;
  }
  .cycle4 img{
    width: 9em;
    height: 12em;
  }
  .cycle5 img{
    width: 12em;
    height: 9em;
  }
  .cycle6 img{
    width: 9em;
    height: 12em;
  }
  .cycle_title{
    width: 18em;
    top: 4em;
    left: 9em;
  }
  /*********************/
  #struct{
    margin: 0;
    padding-top: 200px;
  }
  .struct_title{
    width: 18em;
    right: 10em;
  }
  .tree{
    transform: scale(0.8);
  }
  /***********************/
  #process{
    margin-top: 300px;
    height: 600px;
    padding-left: 3em;
  }
  #process::before{
    height: 400px;
    top: -425px;
  }
  #process::after{
    height: 270px;
    top: 180px;
  }
  .bar {
    padding: 60px 20px;
    margin: 30px auto;
  }
  .bar img{
    width: 13em !important;
    height: 9.5em !important;
  }
  .bar .content_right{
    top: 2.1em;
  }
  .bar .content_left{
    top: 2.1em;
  }
  .bar .content_right img{
    left: -25em;
    top: -4em;
  }
  .bar .content_left img{
    left: 33em;
    top: -4em;
  }
  .bar p{
    font-size: 1.3em;
  }
  .process_title{
    width: 17em;
    top: -4em;
    left: 9em;
  }
  /************************/
  #strategy{
    margin: 200px auto;
    height: 30em;
  }
  #strategy .contentbox{
    left: 48em;
  }
  #strategy::before{
    height: 500px;
    top: 345px;
  }
  #strategy::after{
    height: 500px;
    top: 1000px;
  }
  .contentbox img{
    width: 6em;
    height: 6em;
  }
  .titlebox h1,h2{
    font-size: 3em;
  }
  .strategy_title{
    width: 18em;
    top: 7em;
  }
  .strategy_BG{
    height: 30em;
  }
  .strategy_BG2{
    width: 40em;
  }
  /***********************/
  #objective{
    margin: 0 auto;
  }
  #objective::before{
    transform: rotateZ(30deg) translateX(-50%);
    height: 292px;
    top: 958px;
  }
  #objective .solid_circle:hover::before{
    top: 84%;
  }
  #objective .objbox{
    width: 80%;
  }
  #objective .dialog{
    width: 60%;
    padding: 30px 25px;
  }
  #objective .dialog::before{
    top: -14%;
  }
  .solid_circle::before{
    left: 94px;
  }
  .objective_title{
    width: 20em;
    top: -50px;
  }
  .solid_circle{
    width: 250px;
    height: 250px;
  }
  .solid_circle .contentbox h1{
    font-size: 1.8em;
  }
  .solid_circle .contentbox h2{
    font-size: 2em;
  }
  #info{
    margin-top: 200px;
  }
}
